<mat-toolbar class="bar" color="primary">
    <button mat-icon-button class="example-icon"  aria-label="Example icon-button with menu icon" (click)="btnclick()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>My App</span>
    <span class="example-spacer"></span>
    <!-- <nav>
        <ul>
            <li><a routerLink="testing">tesing</a></li>
            <li><a routerLink="testing2">testing2</a></li>
        </ul>
    </nav> -->
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
    <!-- <h1>{{abhidata}} </h1>
    <h1>{{kumardata}}</h1> -->
    <button mat-raised-button color="accent" (click)="openDialogToNavbar()">Open Dialog</button>
</mat-toolbar>

