.testing2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgb(56, 56, 169);
    color: #ffff;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    border-radius: 8px;
}